.profile {
   display: flex;
   flex-direction: column;
   width: 85vw;
   padding-left: 20px;
}

.avaDesc {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}
