.header {
   display: flex;
   height: 70px;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-size: 27px;
   background-color: rgb(101, 52, 255);
   border: 1px solid #1c6ea4;
   border-radius: 21px 21px 21px 21px;
}

.img_logo img {
   width: 330px;
   height: 100px;
   margin-top: 10px;
}

.search input {
   padding: 0 20px;
   background: #e9eff6;
   line-height: 40px;
   border-width: 0;
   border-radius: 20px;
   font-family: "Roboto", sans-serif;
   outline: none;
}

.name {
   display: block;
   color: white;
   font-size: 20px;
}

.exitBtn {
   width: 100px;
   height: 40px;
   padding: 5px;
   border-radius: 20px;
   font-size: 18px;
   font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
   background-color: Transparent;
   color: white;
   outline: white;
   border: 2px solid white;
}

.exitBtn:hover {
   transform: scale(1.1);
}
